.button {
    display: inline-block;
    color: #000;
    background-color: #FFB800;
    box-shadow: 5px 5px 0px #000000;
    padding: 18px 20px;
    margin-right: 0px;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
}

.button:hover {
    transform: scale(1.1);
}
